.grid_weather {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 2em;
	gap: 2em;
	grid-auto-flow: row dense;
	margin-bottom: 2em;
}

.welcomeMsg {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.welcomeMsg div {
	width: 800px;
	max-width: 100%;
	text-align: left;
	font-size: .9em;
}

.btnDeleteContainer {
	display: flex;
	font-size: .7em;
	margin: 0 0 8px
}

@media all and (max-width: 1200px) {
	.grid_weather {
		grid-gap: 1em;
		gap: 1em;
	}
}