<div *ngIf="!WeatherService.weather_data.length" class="site_container welcomeMsg">
  <b>
    Bienvenue sur ma météo !
  </b>
  <br />
  <div>
    Pour commencer vous pouvez : <br />
    <ul>
      <li>Choisir une ville via la barre de recherche. </li>
      <li>Vous géolocaliser.</li>
      <li>Cliquer sur la position de votre choix sur la carte ci-dessous.</li>
    </ul>
  </div>
</div>

<div *ngIf="WeatherService.data_loading" class="loading">
  Chargement en cours ....
</div>

<div class="site_container grid_weather">
  <app-tile *ngFor="let place of WeatherService.weather_data" [place]="place">
  </app-tile>
</div>

<div class="site_container btnDeleteContainer" *ngIf="WeatherService.weather_data.length > 3">
  <div (click)="WeatherService.deleteAll()" class="btn">
    Supprimer tous les résultats
  </div>
</div>

<app-map [tiles_length]="WeatherService.weather_data.length" [zoomto]="coords"></app-map>